html  
 head  
  title My project 
 body 
  h1 hello how are you?
  p 
   i I am fine 
  a(href='#',target=_blank) click
  ul 
   li abc 
   li pqr 
   li mno 
  table 
   tr 
    th roll 
    th name 
   tr 
    td 84
    td Aisha