html 
    head 
    body 
        h1 LJU 
        p lets learn pug 
        i thank you 
        p(style="color : pink") LJU 
        p The file will not properly work if programmer dose not make sure for proper indentation.
            ul 
                li Mango 
                li Watermelon 
                li Pineapple 
        p(style="color : red") Hello
        br
        a(href='#') About
        table(rules='all',style="border :1px solid black")
            tr 
                th(style="color : red") Name 
                th(style="color : red") Id 
            tr 
                td(style="color : red") ABC 
                td(style="color : red") 1
        p 
            b 3 times number is : 6
        h3 I like black color
        h3 Country : Uk

        ul 
            li 1
            li 2
            li 3 
            li 4

